<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />


    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Retofit2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.CustomerHomeActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.OrderActivity"/>
        <activity
            android:name=".activity.FeedBackActivity"/>

        <activity
            android:name=".activity.Login"
            android:exported="true" > <!-- Remove intent-filter from Product_Detail -->
                        <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProductDetailActivity"
            android:exported="true" > <!-- Remove intent-filter from Product_Detail -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.CartActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".activity.ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".activity.OTPVerification"
            android:exported="false" />
        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.UpdatePasswordSuccess"
            android:exported="false" />
        <activity
            android:name=".activity.SignInSuccessful"
            android:exported="false" />

        <activity
            android:name=".activity.PaymentActivity"
            android:exported="true" > <!-- Remove intent-filter from Product_Detail -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.AddressDeliveryActivity"
            android:exported="true" >
            <!-- Remove intent-filter from Product_Detail -->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.AddAddressDeliveryActivity"
            android:exported="false" />

        <meta-data
            android:name="com.hedgehog.ratingbar.RatingBar"
            android:value="true" />


    </application>



</manifest>